<nav class="nav-extended">
    <div class="nav-wrapper">
        <div class="container"><div class="col s2"> <a href="#!" class="brand-logo"></a></div></div>
        <ul class="left">
            <li class="active"><a href="#home">File</a></li>
            <li><a href="#settings">Views</a></li>
            <li><a href="#notifications">Tools</a></li>
            <li><a href="#profile">Run</a></li>
            <li><a href="#profile">Test</a></li>
            <li><a href="#profile">Analyzer</a></li>
            <li><a href="#profile">Debug</a></li>
        </ul>
    </div>
</nav>
<!----Nav-->

<div class="row"><!---sidebar & main content-->
<div class="col s2 sidebar">
  <ul>
    <li><a href="#">root</a>
      <ul>
        <li><a href="#">arduino.go</a></li>
      </ul>
    </li>
    <li><a href="#">logs</a>
      <ul>
        <li><a href="#">frame.log</a></li>
        <li><a href="#">error.log</a></li>
      </ul>
    </li>
    <li><a href="#">config</a>
      <ul>
        <li><a href="#">config.json</a></li>
      </ul>
    </li>
    <li><a href="#">profiles</a>
      <ul>
        <li><a href="#">workspace.prof</a></li>
      </ul>
    </li>
  </ul>
</div><!----sidebar end-->

<div class="col s10"><!---main content-->
  <div class="wide-container content-view"><!----main-->
  </div><!---end main-->
</div>

<footer class="page-footer">
  <div class="row">
    <ul class="left">
      <li class="col s2">Logger</li>
      <li class="col s2">Terminal</li>
      <li class="col s2">Run</li>
      <li class="col s2">Network</li>
      <li class="col s2">Settings</li>
    </ul>
  </div>
</footer>