@font-face {
  font-family: 'BLMelodyRegular';
  src: url('../fonts/Melody/BLMelodyMono-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'BLMelodyLight';
  src: url('../fonts/Melody/BLMelodyMono-Light.otf') format('opentype');
}
@font-face {
  font-family: 'BLMelodyExtraLight';
  src: url('../fonts/Melody/BLMelodyMono-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: 'BLMelodyBold';
  src: url('../fonts/Melody/BLMelodyMono-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Latenight';
  src: url('../fonts/latenight/latenight-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconssharp/v109/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvRImcycg.woff2) format('woff2');
}
html,
body {
  font-family: 'BLMelodyRegular';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121110ff;
  color: #d5d3d3;
}
.background-grid {
  background-image: linear-gradient(#1b1d1f 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #1b1d1f calc(100% - 0.5px)), linear-gradient(90deg, #1b1d1f 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #1b1d1f calc(100% - 0.5px));
  background-size: 3.33333333% 4%;
  border: 0.5px solid #1b1d1f;
}
h1 {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 2.2em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
h4 {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
h5 {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
h6 {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
canvas {
  width: 100%;
  height: 100%;
  margin: 0;
}
.small-text {
  font-size: 0.8em;
}
.med-text {
  font-size: 1.1em;
}
.large-text {
  font-size: 1.6em;
}
.caption {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  color: #fff;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  color: #d5d3d3;
}
.layout-column-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  width: 100%;
}
.properties-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  font-family: 'BLMelodyRegular';
}
.properties-flex .properties-items {
  flex: 0 5 auto;
  font-size: 1em;
}
.properties-flex .item-group {
  padding: 10px;
  margin: 20px;
  font-size: 1.3em;
}
.properties-flex .name {
  display: inline-block;
}
.properties-flex .value {
  display: inline-block;
}
.properties-flex .item {
  padding: 2px;
  margin: 2px;
  font-size: 0.9em;
}
.properties-flex .properties {
  padding: 2px;
  margin: 10px;
  font-size: 0.8em;
  color: #979797;
}
.properties-flex .property {
  margin: 5px;
  font-size: 0.9em;
  color: #979797;
}
.properties-flex .property .name {
  font-weight: bold;
}
.properties-flex .property .value {
  font-weight: lighter;
}
.properties-flex .properties-footer {
  margin-top: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 1.3em;
  padding: 10px;
  font-family: 'BLMelodyBold';
}
.content-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 5;
}
.content-flex .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  font-family: 'BLMelodyBold';
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  color: #d5d3d3;
  height: 20px;
}
.content-flex .nav .item {
  padding: 10px;
  margin: 10px;
  font-size: 1.3em;
  flex: 0 1 auto;
  cursor: pointer;
}
.content-flex .nav .item:hover {
  color: #ffffff;
}
.content-flex .nav .underscore {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 80%;
  height: 10px;
  background: #1f1f23;
  border-radius: 10px;
  border-color: #d5d3d3;
  border-width: 1px;
  border: solid;
}
.content-flex .title {
  font-family: 'BLMelodyExtraLight';
  font-size: 6em;
  margin-top: 20px;
  color: #979797;
  opacity: 0.5;
  flex-grow: 5;
}
.content-flex .telemetry {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 20px;
  font-family: 'BLMelodyRegular';
  font-size: 1.2em;
  color: #d5d3d3;
}
.content-flex .telemetry .item-group {
  padding: 10px;
  margin-top: auto;
  margin-bottom: 20px;
  font-size: 0.9em;
}
.content-flex .telemetry .item-group .item {
  margin: 5px;
  font-size: 0.9em;
  color: #979797;
  flex: 0 1 auto;
  cursor: pointer;
}
.content-flex .telemetry .telemetry-canvas {
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 500px;
}
.content-flex .telemetry .telemetry-gutter {
  margin: 10px;
  flex-grow: 1;
}
.options-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
}
.options-flex .settings {
  margin: 10px auto 10px auto;
  display: flex;
  width: 20%;
  font-size: 1.4em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.options-flex .settings .item {
  padding: 10px;
  margin: 10px;
  font-size: 1.3em;
  flex: 0 1 auto;
  cursor: pointer;
}
.options-flex .configure {
  margin: 10px;
  flex-grow: 2;
  font-family: 'BLMelodyLight';
}
.options-flex .configure .item-group {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}
.options-flex .configure .item {
  padding: 10px;
  margin: 10px;
  font-size: 0.9em;
  flex: 0 1 auto;
  cursor: pointer;
}
.options-flex .configure .item:hover {
  background-color: #979797;
  color: #121110ff;
}
.options-flex .configure .selected {
  background-color: #979797;
  color: #121110ff;
}
.options-flex .stream-settings {
  margin-top: auto;
  margin-right: 50px;
  margin-left: auto;
  font-family: 'BLMelodyRegular';
  font-size: 1.3em;
}
.options-flex .stream-settings .item {
  font-size: 1.5em;
  padding: 10px;
  margin: 10px;
  font-size: 0.9em;
  flex: 0 1 auto;
  cursor: pointer;
}
.options-flex .stream-settings .stream-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  width: 20%;
}
.options-flex .stream-settings .stream-flex .item {
  padding: 10px;
  margin: 10px;
  font-size: 1.3em;
  flex: 0 1 auto;
  cursor: pointer;
}
.ico {
  font-family: 'Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.ico:hover {
  color: #ffffff;
}
.ico-info {
  color: #138eeb;
}
.ico-danger {
  color: #fb4546;
}
.ico-valid {
  color: #29c131;
}
.ico-std {
  color: #d5d3d3;
}
.grid {
  display: grid;
  grid-template-columns: repeat(10, 10 fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}
.grid-row-based {
  display: grid;
  grid-template-rows: repeat(10, 10 fr);
}
.form-row-label {
  grid-column: 1/4;
}
.form-row-input {
  grid-column: 4/10;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex-row .flex-item {
  flex: 0 1 auto;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
.flex-row-center .flex-item {
  flex: 0 1 auto;
}
.flex_col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.flex_col .flex-item {
  flex: 0 1 auto;
}
.compress {
  width: 80%;
}
.compress-light {
  width: 90%;
}
.compress-med {
  width: 75%;
}
.compress-heavy {
  width: 60%;
}
.compress-extreme {
  width: 40%;
}
.max-width-med {
  max-width: 550px;
  min-width: 250px;
}
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-div .flex-item {
  flex: 0 1 auto;
}
.centered-div .centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.justify-center {
  justify-content: center;
  text-align: center;
}
.align-content-center {
  margin: auto;
  text-align: center;
}
.pad-light {
  padding: 10px;
}
.pad-heavy {
  padding: 20px;
}
.marg-light {
  margin: 10px;
}
.marg-heavy {
  margin: 20px;
}
.field {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.2em;
}
label {
  font-family: 'BLMelodyRegular', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
input[type=text] {
  background-color: #1f1f23;
  color: #d5d3d3;
  font-size: 1.5em;
  border-width: 1px;
  border-color: #343633ff;
  font-weight: lighter;
}
input[type=text]:focus {
  border-color: #d5d3d3;
}
input[type=password] {
  background-color: #1f1f23;
  color: #d5d3d3;
  font-size: 1.5em;
  border-width: 1px;
  border-color: #343633ff;
  font-weight: lighter;
}
input[type=password]:focus {
  border-color: #979797;
}
.btn-primary {
  background-color: #1f1f23;
  color: #d5d3d3;
  border-color: #d5d3d3;
  border-width: 2px;
  border: solid;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn-alt {
  background-color: #343633ff;
  color: #121110ff;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
}
.btn-alt:hover {
  background-color: #000000;
  color: #f7f7f6;
}
.btn-danger {
  background-color: #1f1f23;
  color: #fb4546;
  border-color: #d5d3d3;
  border-width: 2px;
  border: solid;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
}
.btn-danger:hover {
  background-color: #ffffff;
  color: #000000;
}
.btn-info {
  background-color: #1f1f23;
  color: #138eeb;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
}
.btn-info:hover {
  background-color: #ffffff;
  color: #000000;
}
.dark_theme {
  background-color: #1f1f23;
  color: #fff;
}
.light_theme {
  background-color: #d5d3d3;
  color: #000;
}
.dark {
  background-color: #121110ff;
  color: #fff;
}
.dark-text {
  color: #1f1f23;
}
.night {
  background-color: #121110ff;
}
.night-text {
  color: #121110ff;
}
.light {
  background-color: #d5d3d3;
}
.light-text {
  color: #d5d3d3;
}
.accent-1 {
  background-color: #db5461ff;
}
.accent-1-text {
  color: #db5461ff;
}
.accent-2 {
  background-color: #a63446ff;
}
.accent-2-text {
  color: #a63446ff;
}
.white {
  background-color: #d7d7d7;
}
.black {
  background-color: #1f1f23;
  color: #fff;
}
.black-text {
  color: #000;
}
.header-link {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 300;
  text-decoration: none;
  margin-right: 20px;
  font-stretch: expanded;
  font-family: 'Roboto', sans-serif;
}
.header-link:hover {
  font-weight: 500;
  text-decoration: none;
}
