<div class="connect">
<h1> Almost there, just one more step! </h1>
<h2> {{.FirstName}}, connect to the provisioned network and click the button below to complete the setup. </h2>
<button class="btn btn-primary" hx-trigger="click" name="@connect">Connect</button>
</div>