<div class="panel-row header">Devices Explorer</div>
<div class="devices">
{{range .Devices}}
    <div id="device-{{.id}}" class="device">
        <div class="device-name hide">{{.Name}}</div>
        <div class="device-type hide">{{.ID}}</div>
        <div class="device-addr hide">{{.Addr}}</div>
        <div class="device-addr hide">{{.Port}}</div>
        <div class="device-driver hide">{{.Driver}}</div>
    </div>
{{end}}
</div>