<div class="present">
<div class="header"><h1>Hello {{.Window.Provision.Name}},lets setup your AirXT Device</h1></div>
<div class="caption">
    Provision your local wifi network connection details
    <li>Connect to WiFi Device SSID: MicroAirXT</li>
    <li>Using password: pookie1234</li>
</div>
<form hx-post="/provision" hx-target="#form-submit-feedback" hx-swap="outerHTML">
    <div class="input-field">
        <input id="ssid" type="text" class="validate">
        <label for="ssid">SSID</label>
    </div>
    <div class="input-field">
        <input id="password" type="text" class="validate">
        <label for="password">Password</label>
    </div>
    <div class="submit">
        <input type="submit" class="btn waves-effect waves-light">Submit
            <i class="material-icons right">send</i>
        </input>
        <div id="form-submit-feedback" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</form>