<div class="centered-div molten-bg">
        <div class="centered-content max-width-med">
            <div class="flex-item justify-center">
                <h1 class="marg-light align-content-center">First things first, Lets setup your AirXT Device</h1>
                <div class="caption align-content-center marg-heavy">
                Ensure the DieselX AirXT is powered on and the LED is blinking blue. Provisioning Requires Bluetooth 4.0 or higher. Provision the device with your work WiFi Network SSID and Password.
                </div>
                    <div class="flex-row-center">
                        <div class="flex-row marg-heavy compress">
                            <div class="flex-item"><span id="bluetooth-service" class="ico ico-std" alt="Bluetooth Device">&#xe1a7;</span></div>
                            <div class="flex-item"><span id="bluetooth-scan" class="ico ico-std" alt="Bluetooth Searching">&#xe1aa;</span></div>
                            <div class="flex-item"><span id="bluetooth-connect" class="ico ico-std" alt="Bluetooth Connected">&#xe1a8;</span></div>
                            <div class="flex-item"><span id="bluetooth-disconnect" class="ico ico-std" alt="Bluetooth Disconnected">&#xe1a9;</span></div>
                            <div class="flex-item"><span id="bluetooth-success" class="ico ico-std" alt="Bluetooth Success">&#xe86c;</span></div>
                        </div>
                    </div>
                <form hx-post="/provision" hx-target="#form-submit-feedback" hx-swap="outerHTML">
                    <div class="grid">
                        <label for="ssid" class="form-row-label align-content-center">SSID</label>
                        <input id="ssid" type="text" class="validate form-row-input marg-heavy">
                        <label class="form-row-label align-content-center" for="password">Password</label>
                        <input id="pass" type="password" id="password" type="text" class="validate form-row-input marg-heavy">
                    </div>
                    <div class="align-content-center">
                        <div class="flex-row-center">
                            <div class="flex-row marg-heavy compress-extreme">
                                <input type="submit" bluejs="provisionSubmit" bluejs-trigger="click" bluejs-binding="provision" class="flex-item btn-primary small-text" value="Validate">
                                <input type="submit" bluejs="provisionCancel" bluejs-trigger="click" bluejs-binding="provisionCancel" class="flex-item btn-danger small-text" value="Cancel">
                                <div class="flex-item hidden validate-feedback"><span class="ico ico-valid" alt="Submitted">&#xe86c;</span></div>
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>